body {
  line-height: 1.4;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  @media (min-width: 30em) {
    font-size: $base-font-size;
  }
}

// Give any paragraph following an element a margin
* + p {
  margin-top: $space-md;
}

h2 + p {
  margin-top: $space-lg;
}
