body {
  line-height: 1.4;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-family: 'Lato','Avenir', Helvetica, Arial, sans-serif;
  color: $text-dark;
  -webkit-font-smoothing: antialiased;
  @media (min-width: 30em) {
    font-size: $font-size-medium;
  }
  // @media (min-width: 50em) {
  //   font-size: $font-size-large;
  // }
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Give any paragraph following an element a margin
* + p {
  margin-top: $space-md;
}

.u-vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.u-center {
  text-align: center;
}
