body {
  line-height: 1.4;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: $text-dark;
  @media (min-width: 30em) {
    font-size: $base-font-size;
  }
}

// Give any paragraph following an element a margin
* + p {
  margin-top: $space-md;
}

.u-vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
