.footer {
  padding: $space-lg;
  color: $white;
  background-color: $secondary;
  &__copy {
    text-align: left;
  }
  &__logo {
    max-width: 10em;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}
