.footer {
  padding: $space-lg;
  display: flex;
  flex-wrap: wrap;
  color: $white;
  background-color: $secondary;
  &__copy {
    flex: 1 0 auto;
  }
  &__logo {
    margin: $space-lg auto 0 auto;
    @media (min-width: 40em) {
      margin: 0;
    }
    & > img {
      width: 100%;
    }
  }
}
