.gallery {
  &__input {
    display: none;
  }
  &__image {
    width: 100%;
    height: auto;
    opacity: 0.5;
    transition: opacity 0.3s;
    will-change: opacity;
  }
  &__container {
    position: relative;
  }
  &__content {
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    will-change: opacity;
    @media (min-width: 50em) {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@for $i from 1 through 4 {
  #gallery#{$i}:checked ~ #galleryImages #galleryImg#{$i} {
    opacity: 1;
  }
}

@for $i from 1 through 4 {
  #gallery#{$i}:checked ~ #galleryBody #galleryContent#{$i} {
    opacity: 1;
  }
}
