.grid {
  margin-top: ($space-lg * -1);
  margin-left: ($space-lg * -1);
  display: flex;
  flex-wrap: wrap;
  &__item {
    padding-top: $space-lg;
    padding-left: $space-lg;
    flex: 1 0 100%;
    &--half {
      flex: 1 0 50%;
    }
    @media (min-width: 50em) {
      flex-basis: 50%;
    }
    &--first {
      // Switches this to be first within its grid (regardless of HTML order)
      order: -1;
    }
    &--center {
      display: flex;
      align-items: center;
    }
  }
}
