.device__container {
  position: relative;
}

.iphone {
  box-sizing: content-box; // Stops border pushing things out of alignment
  position: absolute;
  right: -1em;
  bottom: -2em;
  // margin: 0 auto;
  font-size: 1em;
  font-size: calc(0.25em + 2vmin);
  width: 7em;
  height: 14em;
  background-color: hsl(40, 30, 95);
  border: 4px solid hsl(200, 10, 80);
  border-radius: 1.25em;
  &__speaker {
    position: relative;
    margin: 0 auto;
    top: 1em;
    width: 40%;
    display: flex;
    align-items: center;
    &--circle {
      width: 0.3em;
      height: 0.3em;
      background-color: hsl(200, 10, 20);
      border-radius: 50%;
    }
    &--line {
      margin: 0 auto;
      width: 2em;
      height: 0.2em;
      background-color: hsl(200, 10, 20);
      border-radius: 0.5em;
    }
  }
  &__screen {
    position: absolute;
    top: 2em;
    left: 0.5em;
    width: 6em;
    height: 10.5em;
    border: 1px solid hsl(200, 10, 50);
    border-radius: 0.1em;
    overflow: hidden;
    & > * {
      width: 100%;
      height: auto;
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__button {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    bottom: 0.25em;
    transform: translateX(-50%);
    width: 0.75em;
    height: 0.75em;
    border: 2px solid hsl(200, 10, 70);
    border-radius: 50%;
  }
}
