*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

ul {
  list-style-type: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

address {
  font-style: normal;
}
