.section {
  padding: $space-lg;
  @media (min-width: 30em) {
    padding: $space-xl;
  }
  &__title {
    position: relative;
    line-height: 1;
    // Create the little gold divider
    &:after {
      content: '';
      position: absolute;
      left: 0;
      // Get it the right distance from the title
      bottom: ($space-md * -0.75);
      width: $space-lg;
      height: 5px;
      background-color: $primary;
    }
  }
  &__copy {
  }
}
