$indigo: #18263C;
$dark-grey: hsl(220, 20, 30);
$grey: #939598;
$light-grey: hsl(220, 15, 90);
$white: hsl(220, 20, 98);
$gold: rgb(245, 201, 117);

$primary: $gold;
$secondary: $indigo;
$text-dark: $dark-grey;
$text-light: $white;
$bg-dark: $indigo;
$bg-light: $white;
$bg-mid: $light-grey;

$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;
$space-xxl: 8rem;

$font-size-medium: 1.25em;
$font-size-large: 1.375em;
