$indigo: #18263C;
$dark-grey: hsl(220, 20, 20);
$grey: #939598;
$light-grey: #c7c8ca;
$white: hsl(220, 20, 98);
$gold: rgb(245, 201, 117);

$primary: $gold;
$secondary: $indigo;
$text-dark: $dark-grey;
$text-light: $white;
$bg-dark: $indigo;
$bg-light: $white;
$bg-mid: $grey;

$space-sm: 0.5em;
$space-md: 1em;
$space-lg: 2em;
$space-xl: 4em;
